@font-face {
font-family: norse;
src:url("font/Norse.otf") format("opentype");
}

#image1{
  background-image: url('../img/ragnarok3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#image2{
  background-image: url('../img/Pulsing_sound_waves.gif');
}

#headertext{
  font-family: norse;
  color: white;
  text-align: center;
  font-size: 100px;
}
body{
  color:white;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #6497b1;

  color: white;

  align: center;
}
