*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.clearfix{
	clear:both;
}


#audio-btns{
  text-align:center;
  font-size:400%;
  padding:4%;
  color:white;

}

#pause{
  display:none;
}
#playlist li{
  text-align:center;
  list-style-position: inside;
}
/*#musicplayer{
  border:4px solid black;
  border-radius:10%;
}*/
.container{
	width:330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:60px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 2px;
  background-image: url("https://i.amz.mshcdn.com/BThoA7TaYIIkpgABSE7E61XkKAw=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F644482%2Fdef8e99e-f635-4aaf-b037-95d6baa2e85d.jpg");
  background-blend-mode: multiply;
}
#audio-image{
	position:relative;
	overflow:hidden;
	height:200px;
	margin-bottom:15px;
}
