.container-fluid {
  margin: 0;
  margin-left: 0;
  margin-right:0;
  background-image:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/-hnnJox/visualization-of-bright-dots-moving-around-a-dark-background_n1l_mmuu__F0000.png");
  background-repeat: no-repeat;
  background-size: cover;
}

audio {
  margin: 20%;
  width: 400px;
}

#playlist {
  display: none;
}

#musicpage {
  height: 100vh;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

#audio-btns {
  font-size: 800%;
  text-align: center;
  left:40%;
  top:35%;
  color:white;
  position: absolute;
}

#replay {
  font-size: 500%;
}

#pause {
  display: none;
}

#funfact1{
  color:white;
  width:200px;
  height:200px;
  left:6%;
  top:3%;
  position: absolute;
  display:none;

}
#funfact2{
  color:white;
  width:200px;
  height:200px;
  left:80%;
  top:3%;
  position:absolute;
  display: none;
}
#funfact3{
  color:white;
  width:200px;
  height:200px;
  left:6%;
  bottom:8%;
  position:absolute;
  display: none;


}
#funfact4{
  color:white;
  width:200px;
  height:200px;
  left:80%;
  bottom:8%;
  position:absolute;
  display: none;

}

#fun1{

  left:6%;
  top:3%;
  position: absolute;
  -vendor-animation-delay:5s;

}
#fun2{
  left:80%;
  top:3%;
  position:absolute;
  -vendor-animation-delay:5s;

}
#fun3{
    left:6%;
    bottom:8%;
    position:absolute;
}
#fun4{
  left:80%;
  bottom:8%;
  position:absolute;
}
